<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>Yomitan API (rs) Installer</string>

  <key>CFBundleExecutable</key>
  <string>terminal-hook</string>

  <key>CFBundleIdentifier</key>
  <string>com.aura-ix.yomitan-api-rs-installer</string>

  <key>CFBundleIconFile</key>
  <string>icon</string>

  <key>CFBundleVersion</key>
  <string>1.0</string>

  <key>CFBundlePackageType</key>
  <string>APPL</string>
</dict>
</plist>
